<html>

<head>
    <script src='/_ah/channel/jsapi'></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    {% block more_js %}{% endblock more_js %}
    {% block css %}{% endblock css%}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
<a href='/'>translifeline</a>
{% block top %}
{% endblock top %}
<hr>

{% block body %}
{% endblock body %}

<hr>
{% block bottom %}
{% endblock bottom %}

</body>

</html>
