
{% extends "templates/base.html" %}

{% block more_js %}
<script type='text/javascript' src='/static/js/chat_room.js?version=213'></script>
{% endblock more_js %}

{% block css %}
<style type='text/css'>
 #chatlines {
    display: inline-block;
    height: 50vh;
    width: 75vw;
    border-style: solid;
    border-width: 1px;
    overflow-y: scroll;
    }
 #chatusers {
    display: inline-block;
    height: 50vh;
    width: 10vw;
    border-style: solid;
    border-width: 1px;
    overflow-y: scroll;    
    }
</style>
{% endblock css %}

{% block title %}{% endblock title %}

{% block body %}
<script type='text/javascript'>
setTimeout(
    function() { 
        initialize("{{ room_name }}", "{{ channel_token }}"); 
    }, 
    100);

$(function() {
    $("#chatmsg").keypress(function(event){
        if(event.keyCode == 13){ // 13 is enter
            $("#sendbutton").click();
        }
    });
});
</script>

<div id="status"><p><b>Not connected</b></p></div>
<div id="chatlines"></div>
<div id="chatusers"></div>
<p>
<input type="text" id="chatmsg"><input value="Send" id="sendbutton" type="button" onclick="javascript:send_to_room();">
</p>
{% endblock body %}
