
{% extends "templates/base.html" %}

{% block more_js %}
<script type='text/javascript' src='/static/js/chat_room.js?version={{ version_hack }}'></script>
{% endblock more_js %}

{% block css %}
<style type='text/css'>
 #lines {
    height: 50vh;
    width: 75vw;
    border-style: solid;
    border-width: 1px;
    overflow-y: scroll;
    }
</style>
{% endblock css %}

{% block title %}{{ room_name }}{% endblock title %}

{% block body %}
<p>{{ room_name }}</p>
<p>{{ channel_token }}</p>
<script type='text/javascript'>
setTimeout(
    function() { 
        initialize("{{ room_name }}", "{{ channel_token }}"); 
    }, 
    100);
</script>
<div id="lines">la la la</div>
<input type="text" id="chatmsg"><input value="Send" type="button" onclick="javascript:send_to_room();">
{% endblock body %}
