
{% extends "templates/base.html" %}

{% block title %}home{% endblock title %}

{% block body %}
<form action="{{ call_prep_url }}">
<p>Enter Screen Name: <input type="text" id="screenname" name="screenname"></p>
<p><input id='call' type="submit" value="Talk to an operator"></p>
</form>
<hr>
<p>Are you an operator? Please sign in.</p>
<span id="gpluslogin">
  <span
    class="g-signin"
    data-callback="gplusCallback"
    data-clientid="{{ gauth_client_id }}"
    data-cookiepolicy="single_host_origin"
    data-scope="email"    
  </span>
</span>

<script type='text/javascript'>

var do_login = function(res, data, status) {
    $("#gpluslogin").prop('style', 'display: none');

    var vals = {
        'id_token' : res['id_token'],
        'csrf_token' : '{{ csrf_token }}',
    };
    
    var action_url = "{{ login_url }}";
    var form = $('<form action="' + action_url + '" method="post">' +
        '<input id="idtokentext" type="hidden" name="data"></form>');
    $('body').append(form);
    $("#idtokentext").val(JSON.stringify(vals));
    form.submit();
};

function gplusCallback(res) {    
    if (!res['status']['signed_in']) {                
        return;
    }
    
    if (res['status']['method'] == 'AUTO') {
        /* need to check with app to prevent google from auto signing in */
        $.get("{{ check_login_url }}", function(data, status) {
                /* is this scope abuse or the right way to do it? */
                do_login(res, data, status);
            }
            ).fail(function() {});
    } else {
        do_login(res, null, null);
    }
};

</script>
{% endblock body %}
