
{% extends "templates/base.html" %}

{% block title %}home{% endblock title %}

{% block css %}
<style type='text/css'>
 #calls {
    height: 50vh;
    width: 75vw;
    border-style: solid;
    border-width: 1px;
    overflow-y: scroll;
    }
</style>
{% endblock css %}

{% block top %}
| <a id="logout" href="/unused">Log out</a>
{% endblock top %}

{% block body %}
<p>token {{ on_call_channel_token }} </p>
<p>Logged in as {{ operator_name }} | Current Screen Name: <b>{{ screenname }}</b></p>
<form action="/home/modify" method='post'>
<p>
New Screen Name: <input type="text" name="screenname">
<input type="submit" value="Change Screen Name">
</p>
</form>

<p>Due to techinical limitations, please close the alert windows that pop up with each call or you won't get subsequent calls.</p>
{% if is_on_call %}
<input value="Go On Call" id="oncall" type="button" disabled="disabled" onclick="javascript:go_on_call();">
<input value="Go Off Call" id="offcall" type="button" onclick="javascript:go_off_call();">
{% else %}
<input value="Go On Call" id="oncall" type="button" onclick="javascript:go_on_call();">
<input value="Go Off Call" id="offcall" type="button" disabled="disabled" onclick="javascript:go_off_call();">
{% endif %}

<div id='status'><p><b>Status: Not on call</b></p></div>
<input value="Check for new calls" id="missedcallsbutton" type="button" onclick="javascript:get_missed_calls_manual();">
<div id='callpopup' style="display: none"></div>
<div id='calls'></div>
{% endblock body %}

{% block bottom %}
<script type='text/javascript'>
$(function() {
    $("#logout").click(function(e) {        
        e.preventDefault();
        gapi.auth.signOut();      
    });
});

var g_state = {};
g_state.on_call_channel_token = "{{ on_call_channel_token }}";
g_state.refresh_token = false;
g_state.call_ids = {};

// TODO: put this in a common thing
var post_message_impl = function(path, data, async_func) {
    var xhr = new XMLHttpRequest();
    
    if (async_func != null) {
        xhr.onreadystatechange = async_func;
    }

    xhr.open('POST', path, true);
    if (data) {
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xhr.send('data=' + JSON.stringify(data));
    } else {
        xhr.send();
    }
    return xhr;
};

var post_message = function(path, data) {
    post_message_impl(path, data, null);
};

var display_status = function(info) {
    $("#status").html(info);
};

onOpened = function() {
    var data = { 'on_call_channel_token' : g_state.on_call_channel_token };
    
    post_message('/home/oncall', data);
    display_status("<p><b>Status: On call</b></p>");    
    $("#oncall").prop('disabled', true);
    $("#offcall").prop('disabled', false);
    
};

var get_missed_calls = function(d) {
    post_message_impl('/home/refresh_calls',
        { 'last_call_datetime' : d.toISOString() },
        function() {});
}

var get_missed_calls_manual = function() {
    var curr = new Date();
    var past = new Date(curr.getTime() - (2*60*1000));
    get_missed_calls(past);
}

onMessage = function(m) {
    data = JSON.parse(m.data);
    var call_id = data['call_id'];
    var call_url = data['call_url'];
    var call_answered = ('call_answered' in data)
    var call_date_str = data['call_date'] + " UTC"; // whyyyy javascript why
    var d = new Date(call_date_str);
    
    if (call_id in g_state.call_ids) {
        var call_id_span = '#' + call_id;
        $(call_id_span).html('<a href="' + call_url + '" target="_blank">' + call_id + 
        '</a> was answered (' + d.toLocaleTimeString() + ')');
    } else {
        $("#calls").append('<br>' + d.toLocaleTimeString() + ' <span id="' + call_id + 
            '">New call <a href="' + call_url + "\"target = \"_blank\">" + call_id +
            "</a></span>");
        g_state.call_ids[call_id] = true;

        if (!('is_historic' in data)) {
            alert('New call ' + call_id + ' (please click ok to keep getting calls)');
            /* we lose messages until user clicks ok, so refresh */
            /* FIXME: this doesn't work for whatever fricking reason, with settimeout or without */
            setTimeout(get_missed_calls(d), 2*1000);
        }
    }    
};

go_off_call = function() {
    if (g_state.socket != null) {
        g_state.socket.close();
        g_state.socket = null;
    }
    display_status("<p><b>Status: Not on call</b></p>");
    $("#oncall").prop('disabled', false);
    $("#offcall").prop('disabled', true);
};

onError = function(e) {
    // probably fragile, worst api ever
    if (e.description === "Token+timed+out.") {
        g_state.refresh_token = true;
        console.log("beep boop");
    }
};

onClose = function() {
    if (g_state.refresh_token) {
        g_state.refresh_token = false;
        go_on_call();
    } else {
        go_off_call();
    }
};

openChannel = function() {
    // ugh it has quotes, so we have to strip them?
    var channel = new goog.appengine.Channel(g_state.on_call_channel_token.replace(/"/g, ''));
    var handler = {
      'onopen': onOpened,
      'onmessage': onMessage,
      'onerror': onError,
      'onclose': onClose,
    };
    g_state.socket = channel.open(handler);
};

go_on_call = function() {
    $.post("/home/oncall",
            function(data, status) {
                if ("success" == status) {
                    g_state.on_call_channel_token = data;
                    setTimeout(openChannel, 100);
                } else {
                    display_status(status + " data:" + data);
                }
            }
        );
};

{% if is_on_call %}
go_on_call();
{% endif %}

function gplusCallback(res) {    
    if (res['error'] == 'user_signed_out') {
        // TODO: make redirect to post a function
        var action_url = "{{ logout_url }}";
        var form = $('<form action="' + action_url + '" method="post"></form>');           
        $('body').append(form);        
        form.submit();        
    }
};
</script>

<span id="gpluslogin" style="display: none">
  <span
    class="g-signin"
    data-callback="gplusCallback"
    data-clientid="{{ gauth_client_id }}"
    data-cookiepolicy="single_host_origin"
    data-scope="email"    
  </span>
</span>
{% endblock bottom %}
