
{% extends "templates/base.html" %}

{% block title %}home{% endblock title %}

{% block css %}
<style type='text/css'>
 #calls {
    height: 50vh;
    width: 75vw;
    border-style: solid;
    border-width: 1px;
    overflow-y: scroll;
    }
</style>
{% endblock css %}

{% block top %}
| <a id="logout" href="/unused">Log out</a>
{% endblock top %}

{% block body %}
<p>token {{ on_call_channel_token }} </p>
<p>Logged in as {{ operator_name }} | Current Screen Name: <b>{{ screenname }}</b></p>
<form action="/home/modify" method='post'>
<p>
New Screen Name: <input type="text" name="screenname">
<input type="submit" value="Change Screen Name">
</p>
</form>

<p>Due to techinical limitations, please close the alert windows that pop up with each call or you won't get subsequent calls.</p>
{% if is_on_call %}
<input value="Go On Call" id="oncall" type="button" disabled="disabled" onclick="javascript:go_on_call();">
<input value="Go Off Call" id="offcall" type="button" onclick="javascript:go_off_call();">
{% else %}
<input value="Go On Call" id="oncall" type="button" onclick="javascript:go_on_call();">
<input value="Go Off Call" id="offcall" type="button" disabled="disabled" onclick="javascript:go_off_call();">
{% endif %}

<div id='status'><p><b>Status: Not on call</b></p></div>
<div id='callpopup' style="display: none"></div>
<div id='calls'></div>
{% endblock body %}

{% block bottom %}
<script type='text/javascript'>
$(function() {
    $("#logout").click(function(e) {        
        e.preventDefault();
        gapi.auth.signOut();      
    });
});

var bad_num_pad = function(num) {
    if (num < 10) {
        return '0' + num;
    } else {
        return String(num);
    }
};

var bad_date_to_str = function(d) {
    return bad_num_pad(d.getHours()) + ':' +
        bad_num_pad(d.getMinutes()) + ':' +
        bad_num_pad(d.getSeconds());        
}

var g_state = {};
g_state.on_call_channel_token = "{{ on_call_channel_token }}";

var g_call_ids = {};

// TODO: put this in a common thing
var post_message = function(path, data) {
    var xhr = new XMLHttpRequest();
    
    xhr.open('POST', path, true);
    xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    if (data) {
        return xhr.send('data=' + JSON.stringify(data));
    } else {
        return xhr.send();
    }
};

var display_status = function(info) {
    $("#status").html(info);
};

go_off_call = function() {
    if (g_state.socket != null) {
        try {
            g_state.socket.close();
        } catch (e) {
            // will close succeed? who knows!
        }
        g_state.socket = null;
    }
    display_status("<p><b>Status: Not on call</b></p>");
    $("#oncall").prop('disabled', false);
    $("#offcall").prop('disabled', true);
}

onOpened = function() {
    var data = { 'on_call_channel_token' : g_state.on_call_channel_token };
    
    post_message('/home/oncall', data);
    display_status("<p><b>Status: On call</b></p>");    
    $("#oncall").prop('disabled', true);
    $("#offcall").prop('disabled', false);
    
};

onMessage = function(m) {
    data = JSON.parse(m.data);
    var call_id = data['call_id'];
    var call_url = data['call_url'];
    var call_answered = (data['call_answered'] === 'true');
    var d = new Date();
    
    if (call_id in g_call_ids) {
        var call_id_span = '#' + call_id;
        $(call_id_span).html('<a href="' + call_url + '" target="_blank">' + call_id + 
            '</a> was answered (' + bad_date_to_str(d) + ')');
    } else {
        $("#calls").append('<br>' + bad_date_to_str(d) + ' <span id="' + call_id + 
            '">New call <a href="' + call_url + "\"target = \"_blank\">" + call_id +
            "</a></span>");
        g_call_ids[call_id] = true;
        alert('New call ' + call_id + ' (please click ok to keep getting calls)');
    }    
};

onError = function(e) {
    go_off_call();
}

onClose = function() {
    go_off_call();
}

openChannel = function() {
    var channel = new goog.appengine.Channel(g_state.on_call_channel_token.replace(/"/g, ''));
    var handler = {
      'onopen': onOpened,
      'onmessage': onMessage,
      'onerror': onError,
      'onclose': onClose,
    };
    g_state.socket = channel.open(handler);
};

go_on_call = function() {
    $.post("/home/oncall",
            function(data, status) {
                if ("success" == status) {
                    g_state.on_call_channel_token = data;
                    setTimeout(openChannel, 100);
                } else {
                    display_status(status + " data:" + data);
                }
            }
        );
};

{% if is_on_call %}
go_on_call();
{% endif %}

function gplusCallback(res) {    
    if (res['error'] == 'user_signed_out') {
        // TODO: make redirect to post a function
        var action_url = "{{ logout_url }}";
        var form = $('<form action="' + action_url + '" method="post"></form>');           
        $('body').append(form);        
        form.submit();        
    }
};
</script>

<span id="gpluslogin" style="display: none">
  <span
    class="g-signin"
    data-callback="gplusCallback"
    data-clientid="{{ gauth_client_id }}"
    data-cookiepolicy="single_host_origin"
    data-scope="email"    
  </span>
</span>
{% endblock bottom %}